@use "styles/partials/mixins" as *;
@use "styles/partials/variables" as *;
@use "styles/partials/typography" as *;
@use "styles/partials/global" as *;

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

.card {
  background-color: $white-color;
  border-radius: 10px;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;

  position: relative;
  margin: 5rem auto;
  max-width: 327px;

  @include desktop {
    flex-direction: row;
    max-width: 650px;
    margin: auto;
  }

  &__thumbnail {
    border-radius: 10px 10px 0 0;
    overflow: hidden;

    @include desktop {
      border-radius: 10px 0 0 10px;
    }
  }

  &__image {
    object-fit: cover;
    height: 100%;
    object-position: left;
  }

  &__content {
    padding: 1.25rem 2rem;
    z-index: 1;
    @include desktop {
      padding: 2rem;
    }
  }

  &__heading {
    color: $primary-color;
    font-size: 1rem;
    font-weight: $bold;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include desktop {
      margin-top: 0;
    }
  }

  &__description {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 2rem;
    font-weight: $medium;

    @include desktop {
      margin-bottom: 1rem;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
  }

  &__avatar {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  &__author {
    color: $primary-color;
    font-weight: $bold;
    font-size: 13px;
  }

  &__date {
    color: $accent-color;
    font-size: 13px;
    font-weight: $medium;
  }

  &__share-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: $primary-color;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 4px;
    position: absolute;
    display: none;

    &.visible {
      display: flex; // or block, depending on your layout
    }

    @include mobile {
      width: 327px;
      left: -32px;
      top: -12px;
      border-radius: 0 0 10px 10px;
      z-index: 2;
      padding: 1.25rem 2rem;
    }

    @include desktop {
      position: absolute;
      top: -4.5rem;
      left: 14rem;
      padding: 1rem 2rem;
      width: max-content;
      border-radius: 10px;
    }
  }

  &__share-text {
    color: $secondary-color;
    margin-right: 0.25rem;
  }

  &__share-icon {
    height: 1rem;
    width: 1rem;
    &:focus {
      background-color: $white-color;
    }
  }

  &__share {
    background-color: $background-color;
    border: none;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--mobile {
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      background-color: $secondary-color;
      @include desktop {
        display: none;
      }
    }

    &:focus {
      cursor: pointer;
      background-color: $primary-color;
    }

    @include desktop {
      &::after {
        content: "";
        position: absolute;
        top: -76%;
        left: 50%;
        border-style: solid;
        margin-left: -10px;
        border-width: 10px;
        border-color: $primary-color transparent transparent;
        display: none;
      }
      &.active::after {
        display: block; // Show when .active class is present
      }
    }
  }
}
